//breakpoints
$breakpoint-medium: 640px;
$breakpoint-large: 1024px;

//font sizes
$font-size-small: 16px;
$font-size-medium: 20px;
$font-size-large: 24px;
$font-size-xlarge: 36px;

//colors
$color-primary: #038e43;